@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

body {
  margin: 0;
  font-family: 'Anton', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(129, 104, 255);
}

code {
  font-family: 'Orbitron', sans-serif;

}
